body{
    background-color: rgb(87, 144, 168);
    background-repeat: no-repeat;
    background-size: cover;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;

}

ul{
    list-style: none;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(100, 162, 191);
}

.logo{
    padding-left: 0em;
}
.logo-image{
    border-radius: 100%;
    height: 10vh;
    
}
.logo-link{
    display: flex;
    align-items: center;
}
.logo-text{
    font-size: 2em;
}

.menubar{
    width: 50%;
    margin-left: 8.5em;  
    padding-left: 500px;
    padding-right: 5px;

}

.icons{
    height: 60px;
    width: 60px;
    float: right;
    padding: 4px;
    top: -40px;

    
}
.icons2{
    padding-right: 4px;
    height: 60px;
    width: 60px;
    float: right;
    background-color: rgb(100, 162, 191);
    
}

.list{
    display: flex;
    justify-content: space-between;
}

.list-items a{
    color: black;
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
}

.list-items a:hover{
    color: black;
}


.layer,.layer2, .layer3{
    background: black;
    height: 4px;
    margin-top: 4px;
    border-radius: 10px;
    padding-right: 4px;

}



.section1 .banner{
    height: 170px;
    width: 600px;
    background: rgba(red, green, blue, alpha);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 8;
}

.banner h1{
    font-size: 2em;
}

.banner a{
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: white;
    background: #278cda;
    transition: all 0.3s;
}

.banner button{
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: white;
    background: #278cda;
    transition: all 0.3s;
}
.inputField{
    padding-left: 575px
}
#personbox {
    /* padding-top: 100px; */
    scale: 1.5;
    background-color: rgb(199, 229, 239);
    height: auto;
    width: 20%;
    background-size: cover;
     top: 1000px;
    /* margin-top: 2000px; */
    margin: auto;
    text-align: center;
    line-height: 3;
    /* animation: center-animate 1s ease infinite alternate; */
}
#personbox img{
    max-width: 50%;
}

.rightButton{
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: white;
    background: #278cda;
    transition: all 0.3s;
    float: right;
    margin-right: 200px;
}

.leftButton{
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: white;
    background: #278cda;
    transition: all;
    float: left;
    margin-left: 200px;
}

.Matches{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em 2.5em;
    font-size: 2em;
    color: white;
    background: #278cda;
    text-align: middle;
    border-end-end-radius: 10px;
   
}

@keyframes animateRight{
    from{
        transform: translateX(0px);
    }
    to {
        transform: translateX(200px);
    }
}

@keyframes animateLeft{
    from{
        transform: translateX(0px);
    }
    to {
        transform: translateX(-200px);
    }
}

    

.animateCardLeft{
    animation-name: animateLeft;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.animateCardRight{
    animation-name: animateRight;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
  
  th, td {
    border: 1px solid var(--color-primary);
    padding: 8px 16px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 0, 0.1);
  }

/* #chat-box{
    padding
} */

#textInfo a{
text-align: center;
}